.confronto {
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin: 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px -3px rgba(0,0,0,.2);
}

.confronto > .time img{
  height: 2rem;
}

.confronto .horario {
  font-size: 1.2rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
